name: Video Crop + Upload to Catbox

on:
  workflow_dispatch:
    inputs:
      video_url:
        description: 'Video URL'
        required: true

jobs:
  process-video:
    runs-on: ubuntu-latest
    outputs:
      mp4_url: ${{ steps.upload.outputs.mp4_url }}

    steps:
      - name: Install FFmpeg
        run: |
          sudo apt update
          sudo apt install -y ffmpeg curl

      - name: Download video
        run: |
          wget -O input.mp4 "${{ github.event.inputs.video_url }}"

      - name: Crop top & bottom then scale
        run: |
          ffmpeg -i input.mp4 -vf "crop=1280:545,scale=1280:1080" output_final.mp4

      - name: Upload to Catbox
        id: upload
        run: |
          RESPONSE=$(curl -s \
            -F "reqtype=fileupload" \
            -F "userhash=11b860605a107d32f897f569a" \
            -F "fileToUpload=@output_final.mp4" \
            https://catbox.moe/user/api.php)

          echo "MP4 URL: $RESPONSE"
          echo "mp4_url=$RESPONSE" >> $GITHUB_OUTPUT
