name: Video Crop and Scale

on:
  workflow_dispatch:
    inputs:
      video_url:
        description: 'Video URL'
        required: true

jobs:
  process-video:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install FFmpeg
        run: |
          sudo apt update
          sudo apt install -y ffmpeg

      - name: Download video
        run: |
          wget -O input.mp4 "${{ github.event.inputs.video_url }}"

      - name: Remove top & bottom then stretch (Final Video)
        run: |
          ffmpeg -i input.mp4 -vf "crop=1280:545,scale=1280:1080" output_final.mp4

      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: final-video
          path: output_final.mp4
