name: Video Crop and Scale

on:
  workflow_dispatch:
    inputs:
      video_url:
        description: 'Video URL'
        required: true

jobs:
  process-video:
    runs-on: ubuntu-latest
    outputs:
      mp4_url: ${{ steps.upload_to_streamable.outputs.mp4_url }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install FFmpeg, Curl, JQ
        run: |
          sudo apt update
          sudo apt install -y ffmpeg curl jq

      - name: Download video
        run: |
          wget -O input.mp4 "${{ github.event.inputs.video_url }}"

      - name: Remove top & bottom then stretch (Final Video)
        run: |
          ffmpeg -i input.mp4 -vf "crop=1280:545,scale=1280:1080" output_final.mp4

      - name: Upload to Streamable
        id: upload_to_streamable
        env:
          STREAMABLE_USER: fzerz2534dd@gmail.com
          STREAMABLE_PASS: sdfSQ@@48646
        run: |
          RESPONSE=$(curl -s -u "$STREAMABLE_USER:$STREAMABLE_PASS" \
            -F "file=@output_final.mp4" \
            https://api.streamable.com/upload)

          SHORTCODE=$(echo $RESPONSE | jq -r '.shortcode')
          MP4_URL="https://cdn.streamable.com/video/mp4/$SHORTCODE.mp4"

          echo "mp4_url=$MP4_URL" >> $GITHUB_OUTPUT
          echo "Uploaded MP4 URL: $MP4_URL"
