name: Video Crop and Upload to Gofile

on:
  workflow_dispatch:
    inputs:
      video_url:
        description: 'Video URL'
        required: true

jobs:
  process-video:
    runs-on: ubuntu-latest
    outputs:
      mp4_url: ${{ steps.direct_link.outputs.mp4_url }}

    steps:
      - name: Install FFmpeg & tools
        run: |
          sudo apt update
          sudo apt install -y ffmpeg curl jq

      - name: Download video
        run: |
          wget -O input.mp4 "${{ github.event.inputs.video_url }}"

      - name: Crop & scale
        run: |
          ffmpeg -i input.mp4 -vf "crop=1280:545,scale=1280:1080" output_final.mp4

      - name: Upload to Gofile
        id: upload
        env:
          GOFILE_TOKEN: ${{ secrets.GOFILE_TOKEN }}
        run: |
          RESPONSE=$(curl -s \
            -H "Authorization: Bearer $GOFILE_TOKEN" \
            -F "file=@output_final.mp4" \
            https://upload.gofile.io/uploadfile)

          echo "$RESPONSE"

          CONTENT_ID=$(echo $RESPONSE | jq -r '.data.fileId')
          echo "content_id=$CONTENT_ID" >> $GITHUB_OUTPUT
